{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}
    <div id="banner">
        <h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </h1>
        <a href="#tricks">
            <img src="{{ asset('images/arrow.svg') }}" alt="" height="50" width="50" class="arrow_down">
        </a>
    </div>
    <div id="tricks">
        {% for trick in tricks %}
            <article class="trick_card">
                <a href="{{ path('detail_trick',{'id':trick.id}) }}">
                    <figure>
                        <img src="{{ asset('images/home_cover.avif') }}" alt="Image de la figure {{ trick.name }}">
                        <figcaption>
                            <h2>{{ trick.name }}</h2>
                            <div>
                                <img src="{{ asset('images/edit.svg') }}" width="20" height="20"
                                     alt="Modifier la figure {{ trick.name }}" class="manage_btn">
                                <img src="{{ asset('images/trash.svg') }}" width="20" height="20"
                                     alt="Supprimer la figure {{ trick.name }}" class="manage_btn">
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </article>

        {% endfor %}
        <article class="trick_card">
            <a href="{{ path('home_paginated',{'page':2}) }}">
                Show More !
            </a>
        </article>
    </div>



{% endblock %}
